@mixin t-ui-combobox {
  margin: 0 auto;
  max-width: 30rem;
  padding: 1rem;
  padding: calc(var(--t-ui-cb-space) * 2);
  position: relative;
  width: 100%;
}

@mixin t-ui-combobox__label {
  display: block;
  padding-bottom: 0.25rem;
  padding-bottom: calc(var(--t-ui-cb-space) / 2);
}

@mixin t-ui-combobox__input {
  border-radius: 0.25rem 0.25rem 0 0;
  border: 1px solid rgb(206, 206, 206);
  border-bottom: 2px solid rgb(206, 206, 206);
  font-size: inherit;
  font-family: inherit;
  padding: 0.25rem 0.5rem;
  padding: calc(var(--t-ui-cb-space) / 2) var(--t-ui-cb-space);
  width: 100%;

  &:focus {
    border-bottom-color: darkblue;
    border-bottom-color: var(--t-ui-cb-clr-dark);
    outline: 0;
  }
}
